<div class="wrapper">
    <div class="top-window">
        <div [ngClass]="selectMode ? 'green' : 'red'" class="indicator"></div>
        <input (change)="extractFrames($event)" type="file" accept="video/*" />
        <button (click)="selectModeToggle()">Select Frames</button>
        <button (click)="initiateCrop()">CROP</button>
        <div class="captured-thumbnail">
          <!-- <img id='thumbnail' src="" alt=""> -->
          <canvas id="thumbnail-canvas" width="300" height="300"></canvas>
        </div>
        <p id="progress"></p>
      </div>
</div>