<div class="dashboard-wrapper">
  <div class="top-container">
    <div class="recent-video-uploads-container">
        <table class="card recent-video-uploads-card">
          <div class="header">
            <div class="title">Recent Video Uploads</div>
            <button>See All</button>
          </div>
          
        </table>
    </div>
  </div>
  <div class="bottom-container">
    <div class="total-stats-container">
      <div class="card total-stats-card">
          <div class="header">
              <div class="title">Total Stats</div>
            </div>
      </div>
    </div>
    <div class="usage-container">
        <div class="card usage-card">
            <div class="header">
                <div class="title">Usage</div>
              </div>
        </div>
    </div>
  </div>
</div>