<div class="uploads-page-wrapper">
    <div class="uploads-page-card-container">
        <div *ngIf="!uploading" class="card uploads-page-card">
          <div class="header">
            <div class="title">Videos Uploaded</div>
            <!-- <form [formGroup] = "uploadForm" (ngSubmit)="onSubmit()">      
                <div>
                  <input type="file" name="profile" (change)="onFileSelect($event)" />
                </div>
                <div>
                  <button  kendoButton class='upload-new' type="submit">
                    <span>Upload Newish</span>
                  </button>
                </div>
            </form> -->
            <button  kendoButton class='upload-new'>
              <label for="my-input-element-1" class="input-wrapper">
                  <span>Upload New</span>
                  <input  (change)="insertFrames($event)" type="file" multiple id="my-input-element-1" style="display:none" />
                  <!-- <input type="file" accept="video/*" id="my-input-element-1" style="display:none" (change)="waitThenExtract($event)"/> -->
              </label>
            </button>
          </div>
          <div class="table-wrapper">
            <div class="row header-row">
              <div class="cell">Name</div>
              <div class="cell">Type</div>
              <div class="cell">Objects Tagged</div>
              <div class="cell">Video #</div>
              <div class="cell">Last Edited</div>
              <div class="cell"></div>
            </div>
            <div *ngFor="let item of content" class="row">
                <div class="cell">{{item.name}}</div>
                <div class="cell">{{item.type}}</div>
                <div class="cell">{{item.objectsTagged}}</div>
                <div class="cell">{{item.id}}</div>
                <div class="cell">{{item.lastEdited}}</div>
                <div class="cell">
                  <button>Edit Tracking</button>
                </div>
            </div>
          </div>
          <!-- <button kendoButton [primary]="true" >
              <input (change)="extractFrames($event)" type="file" accept="video/*" />
          </button> -->
          <!-- <canvas (mousedown)="mouseDown($event)" (mouseup)="mouseUp($event)" (mousemove)="mouseMove($event)" id="hd-bounding-canvas" width="1920" height="1080"></canvas> -->
        </div>
        <div *ngIf="uploading" class="card uploader-card">
          <button (click)="initiateCrop()" [primary]="true" kendoButton [disabled]="!readyToCrop" class="crop-button">CROP</button> 
          <div class="progress-percentage-container">
            <p id="progress"></p>
          </div>
          <div class="progress-container">
            <div id='progressBar'></div>
          </div>
          <div class="res-container">
            <button (click)="resolution1080 = true; setBoundingCanvasDimensions(1080)">1080</button>
            <button (click)="resolution1080 = false; setBoundingCanvasDimensions(720)">720</button>
          </div>
          <div class="super-container">
            <div class="canvas-container" [ngClass]="resolution1080 ? 'res1080' : 'res720' ">
                <div class="preview-pane-container"></div>
                <canvas (mousedown)="mouseDown($event)" (mouseup)="mouseUp($event)" (mousemove)="mouseMove($event)" id="hd-bounding-canvas" width="1920" height="1080"></canvas>
            </div>
            <div class="thumbnail-strip">
                <div class="frame"></div>
                <div class="frame"></div>
                <div class="frame"></div>
                <!-- <div class="frame"></div>
                <div class="frame"></div> -->


                <!-- <canvas id="copy-canvas" width="625" height="625"></canvas> -->


                <canvas id="thumbnail-canvas" width="300" height="300"></canvas>
                <!-- <canvas id="thumbnail-canvas1" width="300" height="300"></canvas>
                <canvas id="thumbnail-canvas2" width="300" height="300"></canvas> -->


            </div>
          </div>
          <div class="framestrip-container">
            <div class="canvas-container" id='frame-container'></div>
            <div class="audiostrip"></div>
          </div>
          <button (click)="uploading = false" class="cancel-button">Cancel</button>
        </div>
    </div>
</div>