@import url('https://fonts.googleapis.com/css?family=Roboto:100,400&display=swap');
.k-button{
    background-image: none;
}
.uploads-page-wrapper{
    padding: 30px;
    width: calc(100% - 560px);
    height: calc(100vh - 160px);
    position: absolute;
    top: 100px;
    left: 500px;
}
.uploads-page-card-container{
    height: 100%;
    width: 100%;
    position: relative;
}
.card{
    background-color: white;
    box-shadow: -2px 2px 8px lightgrey;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    overflow: scroll;
}

.uploader-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.crop-button{
    position: absolute;
    height: 90px;
    width: 171px;
    left: 143px;
    top: 100px;
    /* background-color: rgb(201, 201, 201); */

}
.header{
    width: 100%;
    height: 119px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid aliceblue;
}
.title{
    font-size: 56px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 100px;
    margin-right: 45px;
}
button{
    font-size: 40px;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    /* height: 120px; */
    font-weight: 300;
    cursor: pointer;
}
.res-container{
    height: 77px;
}
button.upload-new{
    width: 300px;
    width: 402px;
    margin-top: 0px;
    margin-left: 0px;
    position: absolute;
    height: 90px;
    height: 121px;
    background-color: aliceblue;
    cursor: pointer;
    right: 79px;
    top: 25px;
}
.input-wrapper{
    cursor: pointer;
}
.table-wrapper {
    display: grid;
    grid-template-columns: repeat(6, minmax(50px, 1fr));
    background-color: #fff;
    color: #444;
}

.row {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(6, minmax(50px, 1fr));
}
.header-row{
    border-bottom: 1px solid lightgrey;
}
/* .cancel-button{
    
} */
.thumbnail-strip{
    height: 1080px;
    width: 300px;
    border: 1px dotted lightgrey;
}
.thumbnail-strip img{
    height: 100%;
    width: 100%;
}
.frame{
    height: 300px;
    width: 300px;
    border: 1px dashed pink;
}
.canvas-container{
    position: relative;
}
.preview-pane-container{
    position: absolute;
    height: 100%;
    width: 100%;
}
.canvas-container.res720{
    height: 720px;
    width: 1280px;
    border: 1px dashed lightgrey;
}
.canvas-container.res1080{
    height: 1078px;
    width: 1920px;
    /* width: 1078px; */
    border: 1px dashed lightgrey;
}
#hd-bounding-canvas{
    position: absolute;
    border: 1px solid purple;
    top: 0px;
    height: 1080px;
    width: 1920px;
    cursor: crosshair;
}
label input{
    background: transparent;
    border: none;
}
#frame-container{
    height: 150px;
    width: 100%;
    border: 1px solid lightgrey;
    display: flex;
}
.audiostrip{
    height: 50px;
    width: 100%;
    /* border: 1px dashed crimson; */
}
.audiostrip.viewable{
    background-image: url('../../assets/audio_strip.png');
    background-size: 100% 100%;
    background-position: center;
}
.border-top-red{
    border-top: 3px solid red;
}
.framestrip-container{
    width: 100%;
}
.res-container{
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-between;
}
.res-container button{
    display: inline-block;
    width: 200px;
    margin: 10px;
}
.res-container button:hover{
    background-color: aliceblue;
}
.progress-container{
    height: 40px;
    width: 400px;
    border: 1px solid grey;
    padding-left: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
}
#progressBar{
    height: 38px;
    width: 0%;
    background-color: aquamarine;
}
.super-container{
    height: 1082px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}