@import url('https://fonts.googleapis.com/css?family=Roboto:100,400&display=swap');
.k-button{
    background-image: none;
}
.uploads-page-wrapper{
    padding: 30px;
    width: calc(100% - 560px);
    height: calc(100vh - 160px);
    position: absolute;
    top: 100px;
    left: 500px;
}
.uploads-page-card-container{
    height: 100%;
    width: 100%;
}
.card{
    background-color: white;
    box-shadow: -2px 2px 8px lightgrey;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.uploader-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.header{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid aliceblue;
}
.title{
    font-size: 56px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 100px;
    margin-right: 45px;
}
button{
    font-size: 40px;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 120px;
    font-weight: 300;
    cursor: pointer;
}
button.upload-new{
    width: 300px;
    margin-top: 75px;
    margin-left: 20px;
    height: 120px;
    background-color: aliceblue;
    cursor: pointer;
}
.input-wrapper{
    cursor: pointer;
}
.table-wrapper {
    display: grid;
    grid-template-columns: repeat(6, minmax(50px, 1fr));
    background-color: #fff;
    color: #444;
}

.row {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(6, minmax(50px, 1fr));
}
.cell{
    font-size: 175%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 150px;
}
.header-row{
    border-bottom: 1px solid lightgrey;
}
/* .cancel-button{
    
} */
.preview-pane-container.res720{
    height: 720px;
    width: 1280px;
    border: 1px dashed lightgrey;
}
.preview-pane-container.res1080{
    height: 1080px;
    width: 1920px;
    border: 1px dashed lightgrey;
}
label input{
    background: transparent;
    border: none;
}
.frame-container{
    height: 150px;
    width: 100%;
    border: 1px solid lightgrey;
}
.audiostrip{
    height: 50px;
    width: 100%;
    /* border: 1px dashed crimson; */
}
.audiostrip.viewable{
    background-image: url('../../assets/audio_strip.png');
    background-size: 100% 100%;
    background-position: center;
}
.border-top-red{
    border-top: 3px solid red;
}
.framestrip-container{
    width: 100%;
}
.res-container{
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-between;
}
.res-container button{
    display: inline-block;
    width: 200px;
    margin: 10px;
}
.res-container button:hover{
    background-color: aliceblue;
}
.progress-container{
    height: 80px;
    width: 100px;
}
.super-container{
    height: 1082px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}